$theme: map-get($color-map, $key);

@debug 'this is the key #{$key} ---------------------------------------------------------------';

@each $property, $value in $theme {
  .u-t-bg-color--#{$property} {
    background-color: $value;
  }

  .u-t-border-color--#{$property} {
    border-color: $value;
  }

  .u-t-color--#{$property} {
    color: $value;
  }
}